<%- include('partials/header') -%>

    <section class="container">
        <h2>Our Lastest Creations...</h2>

        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="https://picsum.photos/200"></a>
            <a class="carousel-item" href="#two!"><img src="https://picsum.photos/200"></a>
            <a class="carousel-item" href="#three!"><img src="https://picsum.photos/200"></a>
            <a class="carousel-item" href="#four!"><img src="https://picsum.photos/200"></a>
            <a class="carousel-item" href="#five!"><img src="https://picsum.photos/200"></a>
        </div>
              




    </section>








<%- include('partials/footer') -%>