<%- include('partials/header') -%>

    <section class="container">
        <h2>Our Lastest Creations...</h2>

        <div class="row">
            <img class="materialboxed col s4" width="350" src="https://picsum.photos/250" data-caption="photo">
            <img class="materialboxed col s4" width="350" src="https://picsum.photos/250" data-caption="photo">
            <img class="materialboxed col s4" width="350" src="https://picsum.photos/250" data-caption="photo">
        </div>
        <div class="row">
            <img class="materialboxed col s4" width="350" src="https://picsum.photos/250" data-caption="photo">
            <img class="materialboxed col s4" width="350" src="https://picsum.photos/250" data-caption="photo">
            <img class="materialboxed col s4" width="350" src="https://picsum.photos/250" data-caption="photo">
        </div>
        <div class="row">
            <img class="materialboxed col s4" width="350" src="https://picsum.photos/250" data-caption="photo">
            <img class="materialboxed col s4" width="350" src="https://picsum.photos/250" data-caption="photo">
            <img class="materialboxed col s4" width="350" src="https://picsum.photos/250" data-caption="photo">
        </div>
        <div class="row">
            <img class="materialboxed col s4" width="350" src="https://picsum.photos/250" data-caption="photo">
            <img class="materialboxed col s4" width="350" src="https://picsum.photos/250" data-caption="photo">
            <img class="materialboxed col s4" width="350" src="https://picsum.photos/250" data-caption="photo">
        </div>
       

    </section>






    <script>
       document.addEventListener('DOMContentLoaded', function() {
            const elems = document.querySelectorAll('.materialboxed');
            const instances = M.Materialbox.init(elems);
        });
    </script>

<%- include('partials/footer') -%>