<%- include('partials/header') -%>

<h1>Welcome to Pastry Post</h1>
<span>Your Local LA Pastry Shop</span>

<ul>
    <li href="#">About</li>
    <li href="#">Gallery</li>
    <li href="#">Menu</li>
    <li href="#">Testimonials</li>
    <li href="#">Your Orders</li>
    <li href="#">Log In / Sign Up</li>


</ul>
    

<%- include('partials/footer') -%>